# Tools / IDE
.classpath
.project
.settings
.idea
.sdkmanrc
**/*.iml

# Dev configs
**/developer.properties

# Build tools
**/.gradle/

# Ignore Gradle GUI config
gradle-app.setting

# Build directories
**/build
**/bin
**/out
**/target
**/node_modules
**/lib
**/.npm

# Log files
*.log
*.gz
*.tgz

# Other
**/*.bak
*.txt
!licenses/*.txt
.DS_Store
/server/postgres/

# SME settings file
import/**/settings.yaml

# Claude
.claude/settings.local.*
