<configuration>
    <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
        <encoder>
            <timestamp>
                <timeZone>UTC</timeZone>
            </timestamp>
            <pattern>%date{ISO8601,UTC} [%15.15thread] [%-5level] %-40.40logger{39} : %msg%n</pattern>
        </encoder>
    </appender>

    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="FILE">
        <file>logs/server.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>logs/server.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 30 days worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <timestamp>
                <timeZone>UTC</timeZone>
            </timestamp>
            <pattern>%date{ISO8601,UTC} [%15.15thread] [%-5level] %-40.40logger{39} : %msg%n</pattern>
        </encoder>
    </appender>

    <root>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>